* {
  font-family: 'Georgia', 'Arial', sans-serif;
}
h1 {
  font-size: 52px;
  text-align: center;
}
ul li {
  font-size: 32px;
  display: inline-block;
  margin-right: 20px;
  background-color: lightblue;
  padding: 8px;
}